@()

<div class="row">
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon" id="usr1-addon">Username:</span>
            <input id="usr1" type="text" class="form-control" placeholder="..." aria-describedby="usr1-addon">
        </div>
    </div>
    <div class="col-lg-9">
        <div class="input-group">
            <span class="input-group-addon" id="msg1-addon">Message:</span>
            <input id="msg1" type="text" class="form-control" placeholder="..." aria-describedby="msg1-addon">
            <span class="input-group-btn">
                <button id="btn1" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-envelope"></span> Send
                </button>
            </span>
        </div>
    </div>
</div>